{% load static %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8"/>
		<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
		<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
		<title>
			My_TMC
		</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<link href="{% static 'css/main.css' %} " rel="stylesheet"/>
		<link href="https://fonts.googleapis.com/css?family=Oswald:400,500,600" rel="stylesheet"/>
		<script src="https://kit.fontawesome.com/82480ceb46.js" crossorigin="anonymous"></script>
		{% block head %}
		{% endblock head %}
	</head>
	<body>
	    {% block header %}
	    {% endblock header %}
	    {% block content %}
	    {% endblock content %}
		{% block footer %}
		<footer>
			<div class="container lemon">
				<hr/>
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-6 text-left">
						2020
						<li class="fa fa-copyright">
						</li>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 text-right" style="font-size:12px">
						<p>
						Desarrollado por <b>Jonathan Maita</b>.
						<br/>
						Todos los derechos reservado.
						</p>
					</div>
				</div>
			</div>
		</footer>
		{% endblock footer %}
		{% block extrajs %}
		{% endblock extrajs %}
	</body>
</html>
